.idea/
target/
*.iml

errors
export/

# exclude latex
documents/**/*.aux
documents/**/*.log
documents/**/*.nav
documents/**/*.out
documents/**/*.snm
documents/**/*.noc
documents/**/*.toc
documents/**/*.synctex.gz
documents/**/*.vrb
documents/presentation/latex/_minted-presentation