.idea/
target/
*.iml

errors
export/

# exclude latex
documents/**/*.aux
documents/**/*.log
documents/**/*.nav
documents/**/*.out
documents/**/*.snm
documents/**/*.noc
documents/**/*.toc
documents/**/*.synctex.gz
documents/**/*.vrb
documents/presentation/_minted-presentation

tools/**/*.aux
tools/**/*.log
tools/**/*.nav
tools/**/*.out
tools/**/*.snm
tools/**/*.noc
tools/**/*.toc
tools/**/*.synctex.gz
tools/**/*.vrb
tools/_minted-out